.recipe-card {
  max-width: 250px;
}

.recipe-card:hover {
  cursor: pointer;
  background-color: rgba(253, 250, 207, 0.938);
  box-shadow: 10px 10px 5px rgb(165, 162, 162);
  opacity: 1;
  transition: all 0.5s;
}


.recipe-image {
  max-height: 250px;
}
