<mat-card class="recipe-card" routerLink="/recipe">
  <mat-card-header>
    <img class="user-avatar"
      src="https://scontent.fyto1-1.fna.fbcdn.net/v/t1.0-9/46393266_10156187037058772_6201291536806707200_n.jpg?_nc_cat=111&_nc_ht=scontent.fyto1-1.fna&oh=73dfd749f222023960dcacebc85df5fc&oe=5D5F5D49"
      mat-card-avatar
    /><!-- Placeholder avatar image -->
    <mat-card-title>
      <!-- Placeholder text -->
      {{activeRecipes.name}}
    </mat-card-title>
    <mat-card-subtitle>
        Cooking Time: {{activeRecipes.totalTime}} minutes.
      </mat-card-subtitle>
  </mat-card-header>
  <img class="recipe-image" mat-card-image [src]="activeRecipes.mainImage">
  <mat-card-content>
    <p>
      {{activeRecipes.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
