<div class="nav-control-details">
  <a mat-stroked-button color="warn" routerLink="/cards">Back</a>
  <button mat-stroked-button color="warn" class="edit-button">Edit</button>
</div>

<div class="details-container">

  <h1>
    {{activeRecipe.name}}
  </h1>
  <section>
    <span>Cooking Time: {{activeRecipe.totalTime}} Minutes</span>
    <br>
    <span>{{activeRecipe.servings}} Servings</span>
    <br>
    <span>Calories</span>
  </section>

  <div>
    <img class="details-main-image"
      [src]="activeRecipe.mainImage">
    </div>

  <section>
    <h3>Ingredients</h3>
    <ul>
      <li>{{activeRecipe.ingredients}}</li>
    </ul>
  </section>

  <section>
    <h3>Directions</h3>
    <ol>
      <li>{{activeRecipe.directions}}</li>
    </ol>
  </section>

  <section>
    <h3>Notes</h3>
    <p>{{activeRecipe.notes}}</p>
  </section>

  <section>
    <h3>Macronutrient Information</h3>
    <ul>
        <li>Calories:</li>
        <li>Carbs: {{activeRecipe.macros.carbs}}</li>
        <li>Protein: {{activeRecipe.macros.protein}}</li>
        <li>Fat: {{activeRecipe.macros.fat}}</li>
      </ul>
  </section>



</div>
