<div class="nav-control">
  <a routerLink="/cards">Back</a>
  <a>Edit</a>
</div>

<mat-grid-list cols="2" rowHeight="30vh">
  <mat-grid-tile>
    <div>
      <p>Title</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="1" rowHeight="30vh">
  <mat-grid-tile>
    <mat-list>
      <h2>Ingredients</h2>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>Directions</mat-grid-tile>
  <mat-grid-tile>Notes</mat-grid-tile>
  <mat-grid-tile>Nutrition Facts</mat-grid-tile>
</mat-grid-list>